.linkElement {
  color: #05386B;
  font-size: 3rem;
}

.tooltip {
  position: relative;
  display: flex;
  padding: 0 25px 0 25px;
}

@media only screen and (max-width: 800px) {
  .tooltip {
    position: relative;
    display: flex;
    padding: 0 10px 0 10px;
    margin:15px;
    text-shadow: 1px 1px black;
    font-family: abel;
  }
}

@media only screen and (max-width: 800px) {
  .tooltip .tooltipText {
    visibility: visible!important;
    overflow: visible!important;
    width: 120px!important;
    color: #EDF5E1;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0!important;
    /* Position the tooltip */
    position: absolute;
    z-index: 1!important;
    bottom: 100%;
    left: 50%;
    margin-left: -60px!important;
    font-size: 1.5rem!important;
    background-color: transparent!important;
  }
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #379683;
  color: #EDF5E1;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 1rem;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  overflow: visible;
}