.hideConsole {
    display: 'none';
}

.displayConsole {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #143B40;
}

/*
//style={{ display: 'flex', alignItems: 'center', width: '100%', height: '100%', justifyContent: 'center', backgroundColor: '#143B40',  }}
*/