.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html, body, #root, .App, .App>div {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
}
/*
@media screen and (max-width: 1024px) {
  #container {
    flex-direction: column;
  }
}
*/
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.avatarWrapper {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  border: 3px solid white;
  overflow: hidden;
  position: relative;
  
}

.avatar {
  width: 100%;
  height: auto;
  transform: scale(1.6);
  margin-top: 30px;
  margin-left: 12px;
}