.App {
  text-align: center;
  background-color: #203647;
}

html, body, #root, .App, .App>div {
  min-height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.avatarWrapper {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  border: 3px solid white;
  overflow: hidden;
  position: relative;
  opacity: 1;
}

.avatar {
  width: 100%;
  height: auto;
  transform: scale(1.6);
  margin-top: 30px;
  margin-left: 12px;
}

.SocialLinkWrapper {
  display: flex;
  color: white;
  width: 100%;
  justify-content: center;
  background-color: #203647;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .SocialLinkWrapper {
    display: flex;
    color: white;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}